%h2.text-center Sign up
.row
  .col-md-12
    = form_for(resource, as: resource_name, :html => {class: "form-horizontal", role: "form"}, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .form-group
        .control-label.col-md-3
          = f.label :email
        .col-md-9
          = f.email_field :email, class: 'form-control', autofocus: true
      .form-group
        .control-label.col-md-3
          = f.label :password
        .col-md-9
          = f.password_field :password, class: 'form-control', autocomplete: "off"
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
      .form-group
        .control-label.col-md-3
          = f.label :password_confirmation
        .col-md-9
          = f.password_field :password_confirmation, class: 'form-control', autocomplete: "off"
      .form-group
        .col-md-offset-3.col-md-9
          = f.submit "Sign up", class: "btn btn-primary btn-lg"
    .form-group
      .col-md-offset-3.col-md-9
        = render "devise/shared/links"
